<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <h2 class="mt-5">Login</h2>
      <!-- Login Form -->
      <form id="loginForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>

    <script>
      // Add an event listener to handle form submission
      document
        .getElementById("loginForm")
        .addEventListener("submit", async (e) => {
          e.preventDefault(); // Prevent the default form submission

          const username = document.getElementById("username").value;
          const password = document.getElementById("password").value;

          try {
            const response = await fetch("/view/login", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ username, password }),
            });

            if (response.ok) {
              const data = await response.json();
              localStorage.setItem("access_token", data.accessToken); // Save token in local storage
              window.location.href = "/view/testmappings"; // Redirect to the home page
            } else {
              const error = await response.json();
              alert(error.message || "Login failed"); // Show error message
            }
          } catch (err) {
            console.error("Error:", err);
            alert("An error occurred while logging in."); // Catch and display any other errors
          }
        });
    </script>
  </body>
</html>
