<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Mappings</title>
  </head>
  <body>
    <h1>Test Mappings</h1>
    <a href="/view">Home</a>
    <table border="1">
      <thead>
        <tr>
          <th>HIS_Code</th>
          <th>LIS_Code</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((item) => { %>
        <tr>
          <td><%= item.his_code%></td>
          <td><%= item.lis_code%></td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <script>
      // Store the access_token in localStorage or sessionStorage
      const accessToken = "<%= accessToken %>";
      if (accessToken) {
        localStorage.setItem("access_token", accessToken);
      }
    </script>
  </body>
</html>
